<?php
/* @var $this CompanyController */
/* @var $model Company */
/* @var $searchModel Review */
Yii::app()->clientScript->registerCssFile(Yii::app()->baseUrl . '/css/lightgallery.css');
Yii::app()->clientScript->registerCssFile(Yii::app()->baseUrl . '/css/lg-theme-default.scss');
Yii::app()->clientScript->registerCssFile(Yii::app()->baseUrl . '/css/crocodoc.viewer.min.css');
Yii::app()->clientScript->registerCssFile(Yii::app()->baseUrl . '/css/jquery-pdf-viewer.css');

Yii::app()->clientScript->registerScriptFile(Yii::app()->baseUrl.'/js/compatibility.js',CClientScript::POS_HEAD);
Yii::app()->clientScript->registerScriptFile(Yii::app()->baseUrl.'/js/pdf.js',CClientScript::POS_HEAD);
Yii::app()->clientScript->registerScriptFile(Yii::app()->baseUrl.'/js/yenope.js',CClientScript::POS_HEAD);
Yii::app()->clientScript->registerScriptFile(Yii::app()->baseUrl.'/js/document-viewer.min.js',CClientScript::POS_HEAD);

Yii::app()->clientScript->registerScriptFile(Yii::app()->baseUrl.'/js/jquery.easytabs.min.js',CClientScript::POS_END);
Yii::app()->clientScript->registerScriptFile(Yii::app()->baseUrl.'/js/lightgallery.min.js',CClientScript::POS_END);
Yii::app()->clientScript->registerScriptFile(Yii::app()->baseUrl.'/js/company_view.js',CClientScript::POS_END);
Yii::app()->clientScript->registerScriptFile(Yii::app()->baseUrl.'/js/crocodoc.viewer.min.js',CClientScript::POS_END);



?>

<?php
$this->breadcrumbs=array(
    'Companies'=>array('index'),
    $model->Name,
);
Yii::app()->clientScript->registerScript('search', "
$('.search-form form').submit(function(){
$('#company-grid').yiiGridView('update', {
data: $(this).serialize()
});
return false;
});
");
$this->pageTitle = $model->Name;

if ($model->MetaDescription) {
    Yii::app()->clientScript->registerMetaTag($model->MetaDescription, null, null, array('property' => "description"));
    //Yii::app()->clientScript->registerMetaTag($page->MetaKeywords, null, null, array('property' => "keywords"));

}
if ($model->MetaKeywords) {
    //Yii::app()->clientScript->registerMetaTag($model->MetaDescription, null, null, array('property' => "description"));
    Yii::app()->clientScript->registerMetaTag($model->MetaKeywords, null, null, array('property' => "keywords"));

}

    Yii::app()->clientScript->registerMetaTag("http://yululate.com/images/logo-large-mod3.png", null, null, array('property' => "og:image"));
    Yii::app()->clientScript->registerMetaTag("http://yululate.com/images/logo-large-mod3.png", null, null, array('property' => "og:image:url"));
    Yii::app()->clientScript->registerMetaTag("200", null, null, array('property' => "og:image:width"));
    Yii::app()->clientScript->registerMetaTag("200", null, null, array('property' => "og:image:height"));

/** display meta tags */
//Yii::app()->clientScript->registerMetaTag("http://yululate.com/images/logo-large.png", null, null, array('property' => "og:image"));
Yii::app()->clientScript->registerMetaTag( Yii::app()->createAbsoluteUrl('/company/company/view',array("id"=>$model->ID,"slug"=>$model->Slug)), null, null, array('property' => "og:url"));
Yii::app()->clientScript->registerMetaTag($model->Name, null, null, array('property' => "og:title"));
Yii::app()->clientScript->registerMetaTag($model->Overview, null, null, array('property' => "og:description"));


/**end meta**/
?>

    <div class="company_main row-fluid">
    <div id="company_left" class="kspan">

    <div class="row-fluid company_snap_info">
        <div class="span6">
            <div class="row-fluid">
                <div class="">
                    <?php
                    $image=CHtml::image($model->logoPath,$model->Name);

                    echo CHtml::link($image,$model->Website,array('target'=>'_blank'));
                    ?>
                </div>
            </div>
            <div class="row"> <?php echo $model->area->hoodName;?></div>
            <div class="row"> <?php echo $model->type->Name;?></div>
            <div class="row"> <?php echo $model->area->hoodName;?></div>
            <div class="row bar_rating">
                <?php echo CHtml::image($model->getBarRatingImage(),'',array('class'=>'inner_review_page'));
                //echo $model->getReviewFrac();?>

                <i><?php echo $model->getReviewFrac(true);?></i>
            </div>

        </div>
        <div class="span6 text_right">
            <h1 class="grey extra_bold main_company_name uppercase"><?php echo $model->Name; ?></h1>
            <?php if($model->AccountType==Company::SUBSCRIPTION_PRO):?>
                <div class="row tagline"> <?php echo $model->Tagline;?></div>
            <?php endif;?>
            <div class="row"> <?php echo $model->OpeningHoursAdvice;?></div>
            <?php if($model->getUserFollowing()): ?>
            <div class="row">
            <?php echo "Following"; ?>
            </div>
           <?php else: ?>
            <div class="row"> <?php echo CHtml::link('Follow Company',array('/company/company/follow','id'=>$model->ID),array('target'=>'blank'))?></div>
            <?php endif; ?>
            
            <div class="row"> <?php echo CHtml::link('View Website',$model->Website,array('target'=>'blank'))?></div>
            <?php if($model->AccountType==Company::SUBSCRIPTION_PRO):?>
                <div class="row"> <?php echo CHtml::link('Map',array('/company/company/view','id'=>$model->ID,'slug'=>$model->Slug,'#'=>'map'),array('class'=>'to_map_link'))?></div>
            <?php endif;?>
            <div class="row">
                <div class="social_share_widget">
                    <?php //echo Yii::app()->createAbsoluteUrl('/company/company/view',array('id'=>$model->ID));?>
                    <?php
                    $this->widget('application.components.widgets.SocialShareWidget', array(
                        //'url' =>  Yii::app()->createAbsoluteUrl(Yii::app()->request->url), 
                        'url' =>  Yii::app()->createAbsoluteUrl('/company/company/view',array('id'=>$model->ID, 'slug'=>$model->Slug, 'fbrefresh'=>999999)), 
                        'services' => array('google', 'twitter','facebook'),   //optional
                        'htmlOptions' => array('class' => 'social_lined'), //optional
                        'popup' => true,               //optional
                    ));
                    ?>
                    <div class="clearfix"></div>

                </div>
            </div>

        </div>
    </div>
    <div class="row-fluid company_images">
        <div class="span12">
            <div class="kbanner">

                <div id="komuslider" style="display: none">
                    <ul class="slides">
                        <?php
                        if(empty($model->companyImages)):?>
                            <li>
                                <?php  echo CHtml::image($model->topImage,'',array('width'=>850));?>
                            </li>
                        <?php endif;
                        foreach($model->companyImages as $image):

                            ?>
                            <li>
                                <?php  echo CHtml::image($image->imagePath850,$image->Name,array('width'=>850));?>
                            </li>

                        <?php endforeach;?>
                    </ul>
                </div>
            </div><!-- the rotating banner -->
        </div>
    </div>
    <h4 class="margin_top_10"> About the Company</h4>
    <div class="row-fluid">

        <div class="span9 company_overview">
            <?php echo $model->Overview;?>
            <?php $documents= $model->companyDocuments();?>
            <script type='text/javascript'>
            <?php
            $jsdocs= $model->companyDocuments();
            $jsarray= array();
                foreach ($jsdocs as $jsdoc){
                            $jsarray["doc_preview_".$jsdoc->ID] = $jsdoc->ID;  
                           
                };
            $js_array = CJSON::encode($jsarray);
            echo "var doc_sections = ". $js_array . ";\n";
            ?>
            </script>
            <?php if($documents):?>
             <script type="text/javascript">
                $(function() {

                    $.each(doc_sections, function (index, value) {
                        var documentViewer = new DocumentViewer({
                        $anchor: $('#document_preview_'+ value),
                                width:600
                        });
                        //var documentViewer = $('<?php echo "#document_preview_".$document->ID;?>').documentViewer();
                        documentViewer.load('http://yululate.ls/images/company/documents/compressed.tracemonkey-pldi-09.pdf');
                    });
                    

                });

            </script>
            <div class="company_docs" id="company_docs">
                    
                        <ul class='etabs'>
                            <?php foreach ($documents as $docname):?>
                                <li class='tab'><a href="<?php echo "#document_" .$docname->ID;?>"><?php echo $docname->Name; ?></a></li>
                            <?php endforeach;?>
                        </ul>
                        <?php foreach ($documents as $document):?>
                        <?php $filelink = "http://" . $_SERVER["SERVER_NAME"] . Yii::app()->request->baseUrl . '/images/company/documents/' . $document->Document; ?>

                            <div id="<?php echo "document_" .$document->ID;?>">
                                <div id="<?php echo "document_preview_" .$document->ID;?>">
                                </div>
                                <iframe src = "<?php echo "/ViewerJS/#../images/company/documents/" . $document->Document."";?>" width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>
                                <span class="doc_icon">
                                    <?php echo CHtml::link(CHtml::image($document->IconPath,"",array("width"=>"32")),array("/company/companyDocument/download","id"=>$document->ID)) ;?>
                                </span>


                                <span class="doc_name">
                                    <?php echo CHtml::link($document->Name,array("/company/companyDocument/download","id"=>$document->ID)) ;?>
                                </span>
                                <span class="doc_name">
                                    <?php echo CHtml::link($document->Name,$this->createAbsoluteUrl(Yii::app()->baseUrl . 'images/company/documents/' . $document->Document)) ;?>
                                   <?php echo CHtml::link("Download FILE", "http://" . $_SERVER["SERVER_NAME"] . Yii::app()->request->baseUrl . '/images/company/documents/' . $document->Document);?>
                                   <?php echo CHtml::link(CHtml::encode("Download FILE2 "), Yii::app()->baseUrl . 'images/company/documents/' . $document->Document);?>
                                   
                                </span>
                                <embed src="<?php echo $filelink;?>" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                            </div>

                        <?php endforeach;?>
                    
            </div>
            <?php endif;?>
        </div>

        <div class="span3 to_rate">
            <?php
            $imagepath=CHtml::image(Yii::app() -> request -> baseUrl .'/images/yululate_rate.png');

             echo CHtml::link($imagepath,array('/company/review','id'=>$model->ID,'slug'=>$model->Slug),array('data-toggle'=>'tooltip', 'data-placement'=>'top','data-container'=>'div.my_details', 'title'=>'Review this company'))?>
        </div>
    </div>
    <div class="row-fluid reviews_similar">
        <div class="inner_container border_top_grey">
            <div class="span12">
                <h4 class="bold uppercase margin_bottom_20 color_grey">Recent Reviews of this place</h4>
                <div class="row-fluid">
                    <div class="span3 review_filter">
                        <?php  $this->renderPartial('_review_search',array('model'=>$searchModel));?>
                        <!--
                        <ul class="rating_groups color_grey">
                            <li class="li_rating" id="rating_group_0">All</li>
                            <li class="li_rating" id="rating_group_1">Disaster</li>
                            <li class="li_rating" id="rating_group_2">Poor</li>
                            <li class="li_rating" id="rating_group_3">Ok</li>
                            <li class="li_rating" id="rating_group_4" class="active">Good</li>
                            <li class="li_rating" id="rating_group_5">Excellent</li>
                        </ul>-->
                        <div class="other_companies_lefter">
                           <div class="by_map_pesa">
                                <?php
                                $this->widget('SimilarCompanies', array(
                                    'company'=>$model->ID,
                                    'category'=>$model->Type,
                                ));
                                ?>
                            </div>
                        </div>
                       

                    </div>
                    <div class="span9 company_reviews">

                        <div class="reviews_content" id="review_main_area">
                            <?php $this->widget('bootstrap.widgets.TbListView',array(
                                'dataProvider'=>$dataProvider,
                                'itemView'=>'_review',
                                'id'=>'ajaxListView',
                            )); ?>
                        </div>
                        <?php  //echo CHtml::link('View all Reviews',array('/company/review','id'=>$model->ID),array('class'=>'right margin_right_20'));?>


                    </div>
                    

                </div>
            </div>
            <!--<div class="span12" id="myspan12">
            <div class="row-fluid">
            <div class="span3" id="socialspan">
                     <div class="social_sharing">
                            <p class="ka_head">Spread the Word</p>
                            <?php //echo Yii::app()->createAbsoluteUrl('/company/company/view',array('id'=>$model->ID));?>
                            <?php
                            $this->widget('application.components.widgets.SocialShareWidget', array(
                                //'url' =>  Yii::app()->createAbsoluteUrl(Yii::app()->request->url), 
                                'url' =>  Yii::app()->createAbsoluteUrl('/company/company/view',array('id'=>$model->ID, 'slug'=>$model->Slug)), 
                                'services' => array('google', 'twitter','facebook'),   //optional
                                'htmlOptions' => array('class' => 'social_lined'), //optional
                                'popup' => true,               //optional
                            ));
                            ?>
                            <div class="clearfix"></div>

                        </div>
                        <div class="other_companies_lefter">
                            <div class="by_map_pesa">
                                <?php
                                $this->widget('SimilarCompanies', array(
                                    'category'=>$model->Type,
                                    'company'=>$model->ID,
                                ));
                                ?>
                            </div>
                        </div>
                    </div>-->
                    
                    <!--<div class="span9">
                    
                    </div>
            </div>
            </div>-->

        </div>
    </div>

    <?php if($model->latLog && ($model->AccountType==Company::SUBSCRIPTION_PRO)): ?>
        <div class="row-fluid company_map_location">
            <div class="span12 class_company_map" id="map">
                <h4 class="bold uppercase">Map & Location</h4>
                <?php
                Yii::import('application.extensions.gmap.core.*');
                $gmap = new EGmap3Widget();
                $gmap->setSize(870, 422);
                $gmap->id='company_location';
                // base options
                $options = array(
                    'scaleControl' => true,
                    'streetViewControl' => true,
                    'zoom' => 15,
                    'center' => array(-1.300707, 36.807183),
                    'mapTypeControlOptions' => array(
                        'style' => EGmap3MapTypeControlStyle::DROPDOWN_MENU,
                        'position' => EGmap3ControlPosition::BOTTOM_LEFT,
                    ),
                    'zoomControlOptions' => array(
                        'style' => EGmap3ZoomControlStyle::DEFAULT_STYLE,
                        'position' => EGmap3ControlPosition::TOP_LEFT
                    ),
                );
                $gmap->setOptions($options);
                // my house when i was a kid
        $home = new EGMapCoord(-1.288388, 36.822955);
 
        // my ex-school
        $coords=implode(',',$model->latLog);
        $school = new EGMapCoord($coords);
        //print_r();die;
        // Waypoint samples
        $waypoints = array(
             
            );
            // Initialize GMapDirection
$direction = new EGMapDirection($home, $school, 'direction_sample');
            
        $direction->provideRouteAlternatives = true;
         
        $renderer = new EGMapDirectionRenderer();
        $renderer->draggable = true;
        $renderer->panel = "direction_pane";
        $renderer->setPolylineOptions(array('strokeColor'=>'#FFAA00'));
         
        $direction->setRenderer($renderer);
         
        $gmap->addDirection($direction);
                $marker = new EGmap3Marker(array('title'=>''.$model->Name.''));
                $marker->latLng =$model->latLog;
                $marker->centerOnMap();
                $marker->setMapZoom(15);
                $marker->data = 'test data !';
                //$marker->address=$practice->PracticeName;
                $marker->draggable=true;
                $gmap->add($marker);

                $gmap->renderMap();
                ?>
                <?php //echo CHtml::link('Follow Company',array('/company/company/follow','id'=>$model->ID));?>
               <div id="direction_pane"></div>
               <?php $directions =  CHtml::image(Yii::app()->request->baseUrl.'/images/directions.png', 'Directions'); ?>
               <div id="directions"> <?php echo CHtml::link($directions,"https://maps.google.com?saddr=Current+Location&daddr=". $model->latLog[0].",".$model->latLog[1] ."", array('target'=>'_blank')); ?></div>
           
            </div>
         

        </div>
    <?php endif;?>

    </div>
    <div id="company_right" class="kspan side_c">
        <?php
        /*
        $adCount=8;
        for($x=1;$x<=$adCount;$x++ ){
            echo CHtml::image(Yii::app() -> request -> baseUrl .'/images/ad_300x250.gif','',array('class'=>'bottom20'));
        }*/
        ?>
         <?php $this->renderPartial('application.views.search._search_ads',array('category'=>$category))?>
    </div>



    </div>

    <div id="categories_area" class="row-fluid">
        <div class="container">

            <?php $this->renderPartial('application.modules.company.views.category.footer_widget');?>

        </div>
    </div><!-- Holds the company categories-->
<?php $model->getReachedLimit();?>