@media (max-width: 480px) {
    header {
        /*max-height: 33vh;*/
        overflow: hidden;
    }

    header .intro-text .intro-lead-in {
        font-size: 2.8vh;
        line-height: 1.3em;
        font-weight: 400;
    }
    .back-to-top{
        bottom: 0px;
    }
    #social{
        width: 26px;
    }
    #social ul li {
        display: inline-block;
        margin: 0 0px;
         margin-bottom: -5px;
    }
    #social ul {
        list-style: none;
        margin: 0px 0;
        padding: 0;
    }
    ul.actions {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }
    ul.actions li {
        float: left;
        padding-right: 5px;
        font-size: 0.95em;
    }
    .chat-details-container {
        padding: 10px 10px;
        color: #fff;
    }
    a.btn.btn-default.archives-btn-bordered {
        margin-right: 20px;
    }
    .parent.chat-details-container {
        padding: 0px 0px;
    }
    .per-chat .user-name {
        padding: 10px 5px 10px 1em;
        max-width: 42%;
    }
    .main-chat-head h2 {
        font-weight: 500;
        line-height: 1.4em;
    }
    .per-chat {
        margin-bottom: 5px;
    }
    .per-chat .message_content {
        margin: 2px 0 0px -1em;
    }
    .user_profile .breadcrumb, .join_user .breadcrumb, .join_admin .breadcrumb {
        padding-left: 1em;
    }
    .current-online-user.avatar-panel {
        padding-right: 5px;
    }
    .user_settings {
        margin: 0 20px;
    }
    .join_user .main-chat-head, .join_admin .main-chat-head {
        margin: 0 0 0.4em;
    }
    body.mobile .row.user_profile > .container {
        padding-left: 0;
        padding-right: 0;
    }
    body.mobile .row.user_profile .container > .col-md-9{
        padding-left: 0;
        padding-right: 0;
    }
    body.mobile .user_profile .breadcrumb{
        margin-left: 15px;
        padding-top: 5px;
    }
    body.mobile .row.user_profile .container > span.height-spacer.row > .col-md-9{
        padding-left: 0;
        padding-right: 0;
    }
    body.mobile  .row.user_profile .form-horizontal .control-label {
        margin-left: 0px;
    }
    body.mobile  .ui.modal > .actions {
        display: none;
    }
    body.mobile .chats_slider_title .text-center {
        font-weight: 400;
        font-size: 1.2em;
    }
    body.mobile  .carousel-section .carousel-section-head{
        font-weight: 400;
        font-size: 1.2em;
    }
    body.mobile .events-slider .event_desc {
        font-size: 0.83em;
    }
    body.mobile .event-slider-content .event_title {
        font-size: 0.8em;
    }
    body.mobile i.edit.icon {
        font-size: 0.8em;
    }
    body.mobile .online-users-intro{
        padding: 0px;
    }
    body.mobile span#toggle_userslist {
        padding: 0;
    }
    .tile .title {
        font-size: 0.45em;
    }
    
    
    .chats_slider_title {
        padding-top: 1em;
    }
    .header-banner .company-logo img{
        max-height: 100px;
    }
    .social_media {
        width: 98%;
        height: 21px;
        margin-bottom: 0;
        background-size: 200%;
    }
    .page-title .page-header{
        font-size: 0.8em;
        text-align: left;
    }

    span.page-title span {
        float: left;
        font-size: 2.5vh;
        
    }
    span.page-title span:first-child { 
        width: 70%;
        padding-right: 5px;
        text-align: left;
        padding-top: 2px;
    }
    span.page-title span:last-child { 
        width: 100%;
        text-align: right;
        padding-right: 0;
    }
    .page-title{
        padding: 0px;
        padding-bottom: 4px;
    }
    .main-chat-head .icon-down {
        background: url(../images/icons/icon_down.png) right center no-repeat;
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: 30px;
        position: absolute;
        bottom: 0px;
        left: auto;
        margin-left: 0;
        cursor: pointer;
        right: 0;
        top: 0;
    }
    span.msg_originator {
        line-height: 1em;
    }
    .chat-search {
       /* background-color: #F78E1D;*/
    }
    .online-user-container {
        display: none;
    }
    .conversation-body {
        min-height: 63vh;
    }
    #tilehelper {
        display: inline-block;
        font-size: 0.35em;
        width: auto;
        padding: 0;
        position: absolute;
        left: auto;
        top: 16px;
        right: 31%;
    }
    .chat_trascript_page.chat_details_page ul.breadcrumb {
        padding-left: 0;
        padding-top: 0;
    }
    .chat_view_sec .bordered-btns-container .btn-bordered.btn-default{
        padding: 21px 28px;
    }
    i.icon.edit.prof_image:before{
        content:none;
    }
}
@media (max-width: 320px) {
    #tilehelper {
        display: inline-block;
        font-size: 0.35em;
        width: auto;
        padding: 0;
        position: absolute;
        left: auto;
        top: 16px;
        right: 28%;
    }
}